:root {
color-scheme: light dark;
}
html{
box-sizing: border-box;
max-width: 100%;
min-height: 100vh;
height:100%;
font-family: charter, Cambria, serif;
font-size: 20px;
line-height: 1.35;
text-align: left;
position: static;
margin: 0;
background-color: light-dark(white, #222);
color: light-dark(black, white);
}
body{
min-height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 12px;
margin-right: 12px;
}
main{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
height: 100%;
flex-grow: 1;
}
footer{
width: 100%;
align-items: flex-start;
}
h1{
margin-top: 20px;
margin-bottom: 0.5em;
font-size: 35px;
line-height: 1;
font-family: charter;
}

h2, h3, h4, h5, h6{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: charter;
}
li{
line-height: 1.35;
margin-bottom: 0.25em;
}
pre{
margin-top: 50px;
margin-bottom:30px;
max-width: 100%;
}
code{
margin-top: 30px;
margin-bottom: 30px;
font-size: 10px;
}
hr {
display: block;
height: 3px;
border: 0;
border-top: 1px solid currentcolor;
border-bottom: 0px solid currentcolor;
margin: 1em 0.25em;
padding: 0;
}
article hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid currentcolor;
margin: 1em 0.5em;
padding: 0;
}
nav{
font-family: adelphe-trouble;
display:block;
    li{
    padding-left: 0.5em;
    padding-right: 0.5em;
    }
    a{
    font-style: normal;
    color: currentcolor;
    }
}
nav ul{
padding: 0;
list-style: none;
}
nav li {
margin: 0 0 0.1em 0;
}

a{
font-style: italic;
text-decoration: none;
color: currentcolor;
}
a:hover{
color: salmon;
}
a:active{
color: currentcolor;
}
p{
margin-top:0px;
text-wrap: pretty;
text-align: left;
}
p > a {
text-style: italic;
}
p > a:after{
content: "°";
}
h2 + p {
margin-top:0px;
}
h1 + p {
margin-top:0px;
}
ul, ol {
margin-top:0px;
padding-left: 15px;
}
ul {
list-style-type: circle;
}
img{
width:100%;
}
em em{
font-style: normal;
}
section{
    margin-bottom: 3em;
}
@font-face {
font-family: adelphe-trouble;
src: url(Adelphe-Trouble-FlorealRegular.woff2);
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: adelphe-trouble;
src: url(Adelphe-Trouble-FlorealItalic.woff2);
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: adelphe-trouble;
src: url(Adelphe-Trouble-FlorealBold.woff2);
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: adelphe-trouble;
src: url(Adelphe-Trouble-FlorealBoldItalic.woff2);
font-weight: bold;
font-style: italic;
}
.left-margin, .right-margin{
flex: 1 1 5em;
}
.left-box{
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: end;
text-align: right;
margin-right: 1.5em;
flex: 1 1 30em;
}
.center-box{
display: flex;
flex-direction: column;
max-width: 40em;
flex: 0.5 0.5 30em;
}
.right-box{
felx: 1 2 1em;
}
.headline {
font-size:3em;
line-height: 1;
margin-bottom: 0px;
font-family: adelphe-trouble;
}
.subtitle {
font-size: 35px;
margin-top:10px;
font-style: normal;
line-height: 1.1;
font-family: adelphe-trouble;
text-wrap: balance;
}
.subheadline {
font-size: 1.4em;
font-style: normal;
font-weight: bold;
margin-top: 0em;
font-family: charter;
}
.wistful {
font-family: adelphe-trouble;
font-size: 20px;
}
.big-text {
font-family: charter;
font-weight: normal;
font-size: 30px;
}
.pixelated{
image-rendering: pixelated;
max-width: 200px;
}

.prime-nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flavor-text{
hyphens: auto;
text-justify: inter-word;
text-indent: yes;
}
.flavor-text p{
margin: 0;
text-align: justify;
}
.flavor-text p + p{
text-indent: 1em;
}
.equal-columns{
flex: 1 1 15em;
}
@media(max-width: 600px) {
html{
font-size: 21px;
}
main{
flex-direction: column;
}
nav{
align-self: center;
}
.left-box, .right-box{
flex-shrink: 1;
align-items: flex-start;
text-align: left;
flex-basis: 0px;
}
.left-box{
align-self: center;
width: 100%;
margin: 0;
padding-bottom:20px;
}
.left-margin, .right-margin{
flex-basis: 0px;
}
.mobile-hide{
display: none;
}
.headline {
font-size: 35px;
margin-bottom: 0px;
}
.subtitle {
font-size: 25px;
margin-top:5px;
font-style: normal;
line-height: 1.1;
font-family: adelphe-trouble;
text-wrap: balance;
}
body{
margin-top: 6px
}
}
