*{
}
@font-face {
    font-family: adelphe-trouble;
    src: url(Adelphe-Trouble-FlorealRegular.woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: adelphe-trouble;
    src: url(Adelphe-Trouble-FlorealItalic.woff2);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: adelphe-trouble;
    src: url(Adelphe-Trouble-FlorealBold.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: adelphe-trouble;
    src: url(Adelphe-Trouble-FlorealBoldItalic.woff2);
    font-weight: bold;
    font-style: italic;
}
.left-margin, .right-margin{
    flex-shrink: 3;
    flex-grow: 1;
    flex-basis: 100px;
}
.left-box, .right-box{
    flex-basis: 0px;
}
.left-box{
    display: flex;
    margin-right: 1.5em;
    justify-content: flex-end;
    flex-direction: column;
    flex-shrink: 2;
    flex-grow: 2;
    align-items: end;
    text-align: right;
    flex-basis: 15em;
}
.center-box{
    flex-basis: 30em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
}
.right-box{
    flex-shrink: 2;
    flex-grow: 1;
    flex-basis: 0px;
}
.headline {
    font-size: 65px;
    margin-bottom: 0px;
}
.subtitle {
    font-size: 35px;
    margin-top:10px;
    font-style: normal;
    line-height: 1.1;
    font-family: adelphe-trouble;
    text-wrap: balance;
}
.subheadline {
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-family: adelphe-trouble;
}

.subtitle em {
}
.wistful {
    font-family: adelphe-trouble;
    font-size: 20px;
}

.pixelated{
    image-rendering: pixelated;
    max-width: 200px;
}
html{
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
    height:100%;
    font-family: charter, Cambria, serif;
    font-size: 20px;
    line-height: 1.35;
    text-align: left;
    position: static;
    margin: 0;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    flex-grow: 1;

}
footer{
    width: 100%;
    align-items: flex-start;
}

h1{
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 35px;
    line-height: 1;
    font-family: adelphe-trouble;
}
h2, h3, h4, h5, h6{
    font-size: 18px;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: adelphe-trouble;
}
pre{
    margin-top: 50px;
    margin-bottom:30px;
    max-width: 100%;
}
code{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 10px;
}
hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 1em 0.25em;
    padding: 0;

}
article hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0.5em;
    padding: 0;
}

nav{
    margin: 10px 0 0px 0;
    font-family: adelphe-trouble;
    display:block;
    li{
        float: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    a{
        display: block;
        text-align: center;
        font-style: normal;
        color: black;
    }
}
nav ul{
    padding: 0;
    list-style: none;
}
nav li {
    margin: 0 0 0.1em 0;
}
a{
    font-style: italic;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #aa0000;
}
a:active{
    color: #FFcccc;
}
p{
    margin-top:0px;
    text-wrap: pretty;
    text-align: left;
}
p > a {
    font-family: adelphe-trouble;
}
p > a:after{
    content: "°";
}
h2 + p {
    margin-top:0px;
}
h1 + p {
    margin-top:0px;
}
ul, ol {
    margin-top:0px;
    padding-left: 15px;
}
ul {
    list-style-type: circle;
}
img{
    width:100%;
}

.flavor-text {
    hyphens: auto;
    text-justify: inter-word;
    text-indent: yes;
}
.flavor-text p {
    margin: 0;
    text-align: justify;
}
.flavor-text p + p {
    text-indent: 1em;
}

@media(max-width: 600px) {
    main{
        flex-direction: column;
    }
    .left-box, .right-box{
        flex-shrink: 1;
        align-items: flex-start;
        text-align: left;
    }
    .left-margin, .right-margin{
        flex-basis: 0px;
    }
    .mobile-hide{
        display: none;
    }
}
